@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@font-face {
  font-family: 'Doppio One';
  src: url(./assets/DoppioOne.ttf);
}

:root {
  --primary: #87ceeb;
  --accent: #f1c233;
  --accent-light: #ffd451;
  --light-gray: #eeeeee;
  --light: #ffffff;
  --dark: #000000;
  --danger: #ff1654;

  --header-height: 100px;

  --page-padding: 10%;
  --common-border-radius: 5px;
  --large-border-radius: 10px;
  --common-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.302);
  --strong-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.53);

  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 40px;
}

* {
  font-family: 'Doppio One', sans-serif;
}


.App {
  /* display is set to show elements as a column*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */

  width: 100%;

  background-color: var(--primary);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  cursor: pointer;
}

/* styles the header elements */
#content_header {
  /* display: flex;
  width: 100%;
  align-items: center; */

  height: var(--header-height);
}

/* Hide navbar on home page */
.App:has(.no_navbar) .App-header {
  display: none;
}

#content_header_nav {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 16px;
}

#content_header_nav a {
  text-decoration: none;
}

.header_nav_button {
  margin: 10px;
  background-color: orange;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  text-decoration: none;
}

.nav_brand {
  font-weight: bold;
  font-size: 2rem;
  color: var(--light);
}

.logout_button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light);
}

/* styles background for the page container */
#page_container {
  padding: 0 var(--page-padding);
  padding-bottom: var(--page-padding);

  position: relative;
  isolation: isolate;
  /* border-radius: 10px;
  border-style: groove;
  box-shadow: 5px 5px 10px rgb(179, 153, 69), -5px 5px 10px rgb(179, 153, 69);

  margin: 10px;

  height: 900px; */
}

#page_container:has(.blue_page_background) {
  height: 100vh;
  padding-bottom: 0;
  overflow: hidden;
  background-color: var(--primary);
}

.btn {
  /* min-width: 150px; */
  padding: 10px 15px;

  /* font-size: 1.0rem; */
  /* font-weight: bold; */

  border: none;
  border-radius: var(--common-border-radius);

  box-shadow: var(--common-box-shadow);

  transition: 0.1s;
}

.btn_large {
  /* min-width: 150px; */
  padding: 20px 30px;

  font-size: 1.0rem;
  font-weight: bold;

  border: none;
  border-radius: var(--large-border-radius);

  box-shadow: var(--common-box-shadow);
  
  transition: 0.1s;
}

.btn:hover,
.btn_large:hover {
  transform: scale(1.05);
  box-shadow: var(--strong-box-shadow);
  transition: 0.1s;
}

.btn_accent {
  background-color: var(--accent);
}

.btn_accent:hover {
  background-color: var(--accent-light);
}

.btn_light {
  background-color: var(--light);
}

.btn_light:hover {
  background-color: var(--light-gray);
}
.joinT{
  font-size: 50px;
 margin-left: 350px;
}
.joinTT{
  font-size: 20px;
  margin-left: 370px;
}
.inputp {
 margin-left: 420px;
}
.buttonJE{
   margin-left: 470px;
   margin-top: 20px;
}
.forme{
  background-color: transparent;
 transform-origin: top;
 /* add depth with shadows*/
 box-shadow: 0px 0px 145px rgba(230, 225, 225, 0.3);
 padding: 15px;
 transform: perspective(1000px); 
 height: 50px;
}