.App {
  text-align: center;

  /* display is set to show elements as a column*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  background-color: navy;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles the header elements */
/* height value is a placeholder */
#content_header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: navy;
  height: 100px;
}

/* styles background for the page container */
#page_container {
  border-radius: 10px;
  border-style: groove;
  box-shadow: 5px 5px 10px rgb(179, 153, 69), -5px 5px 10px rgb(179, 153, 69);

  margin: 10px;

  height: 900px;
}

#header_nav_buttons {
  display: flex;
  justify-content: flex-end;
}

#header_nav_buttons a {
  text-decoration: none;
}

.header_nav_button {
  margin: 10px;
  background-color: orange;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  text-decoration: none;
}

#home_page_buttons {
  display: flex;
  justify-content: center;
}

#home_page_buttons div {
  display: flex;
  flex-direction: column;
}

.homepage_button {
  margin: 10px;
  background-color: orange;
  padding: 10px;

  width: 100px;

  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  text-decoration: none;
}