.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.text-align-start {
    text-align: start;
}

.no-margin {
    margin: 0;
}

/* Flexbox helpers */

.justify-content-start {
    display: flex;
    justify-content: flex-start;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.text-light {
    color: var(--light);
}