#createEvent_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#createEvent_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#event_name {
    font-size: 1.2rem;
}

.event_thumbnail_preview {
    width: 250px;
    height: 200px;

    background-size: cover;
    background-position: 50%;
}