#header_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center
}

#header_buttons div {
    margin: 10px;
}

#board_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 500px;
}

.event_box {
    height: 200px;
    width: 200px;

    background-color: gray;

    margin: 20px;
}