#header_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* #header_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center
} */

/* .dashboard_button {
    margin: 10px;
    background-color: orange;
    padding: 10px;
  
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    text-decoration: none;
} */

.dashboard_btn {
    margin-right: var(--padding-lg);
    margin-bottom: var(--padding-lg);
}

#board_title {
    margin-top: 0;
}

#board_elements {
    display: grid;
    --dash-event-columns: 1;
    grid-template-columns: repeat(var(--dash-event-columns), 1fr);
    gap: 20px;
}

.event_box {
    --event-box-width: 100%;
    height: 200px;
    /* width: var(--event-box-width); */
    max-width: 470px;

    background-color: var(--primary);
    box-shadow: var(--common-box-shadow);
    border-radius: var(--large-border-radius);
    
    transition: 0.15s;
}

.event_box:hover {
    transform: scale(1.05);
    box-shadow: var(--strong-box-shadow);
    transition: 0.15s;
}

.event_box * {
    color: var(--dark);
    text-decoration: none;
}

.event_header {
    height: 55%;
    border-radius: var(--large-border-radius) var(--large-border-radius) 0 0;
}

.event_content {
    overflow: hidden;
    height: 45%;
    padding: 10px;
    border-radius: 0 0 var(--large-border-radius) var(--large-border-radius);
}

.event_content_name,
.event_content_week {
    max-width: 470px;
    margin: 0;
}

.event_content_name {
    margin-bottom: 10px;

    font-size: 2rem;
    font-weight: bold;

    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.event_content_info {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 740px) {
    #board_elements {
        --dash-event-columns: 2;
    }
}

@media screen and (min-width: 1150px) {
    #board_elements {
        --dash-event-columns: 3;
    }
}

@media screen and (min-width: 1800px) {
    #board_elements {
        --dash-event-columns: 4;
    }
}