/* * {
  background-color: var(--primary);
} */

:root {
  --fade-in-anim: fade-in 0.7s ease forwards;
}

#content_home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 700px;
}

#home_page_buttons {
  display: flex;
  justify-content: center;
}

#home_page_buttons div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.homepage_button {
  width: 100%;

  margin: 10px auto;
  padding: 10px;

  border: none;
  border-radius: var(--common-border-radius);
  box-shadow: var(--common-box-shadow);

  color: var(--dark);
  font-size: 20px;
}

.content_home_page {
  text-align: center;
  padding-top: 20px;
  color: var(--light);
  /* background-color: var(--primary); */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home_page_title {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;

  opacity: 0;
  animation: var(--fade-in-anim);
}


.home_page_intro {
  font-size: 1.6rem;
  margin: 10px;

  opacity: 0;
  animation: var(--fade-in-anim);
  animation-delay: 0.7s;
}

.home_page_intro_sub {
  font-size: 1.3rem;
  margin: 10px;

  opacity: 0;
  animation: var(--fade-in-anim);
  animation-delay: 0.7s;
}

.home_page_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

/* .page_container {
  padding: 0 var(--page-padding);
  padding-bottom: var(--page-padding);
} */

/* Mobile-first design */
.homepage_image_container {
  width: max(953px, 100%);
  height: 100vh;

  position: absolute;
  top: 300px;
  left: 50%;

  transform: translateX(-50%);
  z-index: -1;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-blend-mode: inherit;
  background-size: cover;
}

@media (min-width: 350px) {
  .home_page_title {
    font-size: 5rem;
  }

  .home_page_intro {
    font-size: 2rem;
  }

  .home_page_intro_sub {
    font-size: 1.6rem;
  }
}



/* Media Query for Tablets */
@media (min-width: 768px) {
  .content_home_page {
    padding: 40px;
  }

  .home_page_title {
    font-size: 7rem;
  }

  .home_page_intro {
    font-size: 2.5rem;
  }

  .home_page_intro_sub {
    font-size: 2rem;
  }

  .homepage_button {
    width: 200px;
    margin: 10px;
    font-size: 20px;
  }
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the float height */
  }
}
